.image {
  position: relative;
  display: flex;
  flex-direction: column;
  height:10rem;
  width: 8rem;
  padding:0.4rem;
  margin:0.4rem;
  border: 0.1rem;
  border-radius: .4rem;
  border-style: solid;
  border-color:#000000;
  box-shadow: 5px 3px 2px 1px rgb(88, 86, 86);
}

.image__img {
  display: block;
  width:95%;
  height: 98%;
  margin-left: 0.2rem;
  border-radius: 1rem;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #141212;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.8;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 1rem;
  font-weight: bold;
  font-family: Helvetica;
}

.title
  {
    display: flex;
    align-content:center; 
    margin-left:1.8rem;
    margin-top: 0%;
  }
  .image__description {
    font-size: .7em;
    margin-top: 0.25em;
}