.productCard {
  display: flex;
  flex-direction: column;
  /* height: 350px; */
  background-color: white;
  width: 200px;
  border-radius: 8px;
  margin: 10px;
  border: 0.5px solid gray;
}
.productPreview {
  position: absolute;
  background-color: white;
  opacity: 0.7;
  margin-left: 75px;
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
  display: none;
  cursor: pointer;
}


.productImage {
  /* margin: 0 auto; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 103%;
  padding-left: -5%;
  height: 200px;
  object-fit: cover;
}
.addCartbu {
  margin: 5px auto;
  background-color: #ff631c;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: white;
  /* width: 60%; */
  border-radius: 30px;
  padding: 10px;
}
.sp {
  transform: translateY(-4px);
  margin-left: 3px;
  font-size: 12px;
}
.mrp {
  text-decoration: line-through;
  font-size: 10px;
  color: grey;
}
.addCartbu:hover {
  background-color: black;
  color: white;
}
.productContent {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}
.rates {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .productCard {
    width: 170px;
    margin: 5px;
  }
  .productPreview {
    margin-left: 60px;
  }
}
