.pContainer{
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
}
.pImage{
    height: 400px;
    overflow: hidden;
}
.pImage img{
    flex: 1;
    padding: 20px;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}
.pImage:hover img{
    filter: brightness(100%);
    transform: scale(1.3);
}
.pContent{
    flex: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.pCategory{
    font-size: 20px;
    padding: 10px;
    color: grey;
}
.pTitle{
    font-size: 26px;
    font-weight: 700;
    padding: 10px;
    color: black;
}
.pRates{
    display: flex;
    font-weight: 600;
    flex-direction: row;
    justify-content: flex-start;
}
.pimages{
    flex-direction: row;
    padding: 25px;
}
.imagesp{
    height: 70px;
    width: 70px;
    border: 2px solid salmon;
    margin: 10px;
}
.imagesp:hover{
    transform: scale(1.025);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pMrp{
    font-size: 22px;
    text-decoration: line-through;
    color: grey;
    padding: 10px;
}
.pSp{
    font-size: 22px;
    color: black;
    padding: 10px;
}
.pStock{
    padding: 10px;
    font-weight: 500;
    font-size:20px ;
}
.pDescription{
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
}
.pCounts{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.pBu{
    font-size: 30px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pCInput{
    height: 40px;
    width: 50px;
    font-size: 30px;
    color:#ff631c;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    flex: 1;
}
.pCInput:focus{
    border: none;
}
.pAdd{
    width: 200px;
    padding: 20px;
    font-weight: 700;
    background-color: #ff631c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.pAdd:hover{
    background-color: white;
    color: #ff631c;
    outline: 3px solid #ff631c;
}
@media (max-width:800px) {
    .pContainer{
        flex-direction: column;
    }
}