body{
  background: #E5E5E5;
  font-family: 'Merriweather', serif;
}

nav {
  background: whitesmoke;
  width: 100%;
  border: 1px solid #ffffff;
}
.logo {
  height: 80px;
}

.search:focus{
  border: none;
  outline: none;
}
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20;
  width: 100%;
  -webkit-box-shadow: 0 7px 6px -6px black;
  -moz-box-shadow: 0 7px 6px -6px black;
  box-shadow: 0 7px 6px -6px black;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
nav ul li span {
  text-decoration: none;
}

nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}
.logout{
  padding-top: 20px;
}

.catLinks{
  background-color: #ff631c;
  color: white !important ; 
}

nav ul div.items a {
  text-decoration: none;
  color: #ff631c;
  font-weight: 600;
  border-radius: 10px;
  font-size: 13px;
  margin: 5px;
  padding: 5px;
}
nav ul div.items a:hover {
  text-decoration: none;
  color: white;
  background-color: #ff631c;
  font-weight: 600;
  border-radius: 10px;
  font-size: 13px;
  margin: 5px;
  /* padding: 10px; */
}

nav ul li a img {
  height: 10%;
  float:left
}
.productSlider {
  width: 100%;
  margin: 0 auto;
  cursor: move;
}
input[type="text"]:focus {
  border: none;
}
nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

nav ul .search-icon input {
  height: 100%;
  width: 200px;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
.image {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height:250px; */
  width: 250px;
  height: 300px;
  padding:0.1rem;
  color: #f2f2f2;
  margin:5px;
  border: 0.1rem;
  background-color: #FB6C2E;
  border-radius: 12px;
}

.image__img {
  display: block;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  width:100%;
  flex:2;
  /* border-radius: 12px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #141212;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.8;
}

.image__overlay:hover > * {
  transform: translateY(0);
}
.shadow-container{
  margin: 20px auto;
  padding: 10px auto;
  padding-top: 5px;
  padding-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
}
.image__title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
}

.title
  {
    font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
  }
  .image__description {
    font-size: .7em;
    margin-top: 0.25em;
}

.category-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 90%;
}
.categoryTop {
  width: 50%;
  margin: 0 auto;
  border-bottom: 3px solid #ff631c;
  margin-top: 50px;
  color: #ff631c;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
}
.manageCategoryConatiner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 90px auto;
  flex: 8;
}
.cartContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 3;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cartSection{
  display: flex;
  flex-direction: row;
  flex: 2;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.cartSummary{
  flex:1;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}
.td{
  text-align: center;
  max-height: 30px;
  padding: 10px;
}
.tr:nth-child(even){
  background-color: #f2f2f2;
  border-radius: 15px;
}
.tr:hover {background-color: #ddd;}

.th{
  padding: 10px;
  text-align: left;
  background-color: #ff631c;
  color: white;
}
.timer-wrapper {
  display: flex;
  justify-content: center;
}
.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}
.activate-bu{
  width: 20%;
  padding: 15px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  background-color: #ff631c;
  color: white;
  border-radius: 15px;
  box-shadow: 0 6px #fa5204;
  cursor: pointer;
}
.activate-bu:hover{
  transform: scale(1.15);
  transition: all 0.6s;
}
.ordercard{
  display:flex;
  flex-direction:row;
  margin: 10px auto;
  width: 80%;
  justify-content:space-evenly;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.activate-bu:active{
  margin-top:6px;
  box-shadow: 0 0 #fa5204;
}
.cardelem{
  margin: 5px;
}
.head{
  margin-top: 130px;
}
.headcart{
  margin-top: 180px;
}
#tns2 > .tns-item {
  padding-right: 0px !important;
}
@media only screen and (max-width: 600px) {
  nav ul div.items a {
    display: none;
  }
  .ordercard{
    display:flex;
    width: 90%;
    flex-direction:column;
    justify-content:space-evenly
  }
  .headcart{
    margin-top: 150px;
  }
  .head{
    margin-top:80px;
  }
  nav ul li span {
    display: none;
  }
  .category-section {
    width: 95%;
  }
  .cartSection{
    width: 100% ;
    justify-content: center;
    margin: 0 auto;
  }
  .cartContainer{
    flex-direction: column;
    width: 100%;
  }
  .manageCategoryConatiner{
    flex-direction: column;
    width: 100%;
  }
  .productSlider {
    width: 100%;
    /* padding: 10px; */
  }
  .image{
    width: 220px;
  }
  .category-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
}
}
