body{
  font-family: lato;
}

nav {
  background: whitesmoke;
  border: 1px solid #ffffff;
}
.logo {
  height: 50px;
}
.header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li span {
  text-decoration: none;
}

nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}
.logout{
  padding-top: 20px;
}

.catLinks{
  background-color: #ff631c;
  color: white !important ; 
}

nav ul div.items a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  font-size: 13px;
  margin: 5px;
  padding: 10px;
}
nav ul div.items a:hover {
  text-decoration: none;
  color: white;
  background-color: #ff631c;
  font-weight: 600;
  border-radius: 10px;
  font-size: 13px;
  margin: 5px;
  padding: 10px;
}

nav ul li a img {
  height: 10%;
}
.productSlider {
  width: 90%;
  margin: 0 auto;
  cursor: move;
}
input[type="text"]:focus {
  border: none;
}
nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

nav ul .search-icon input {
  height: 100%;
  width: 200px;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
.image {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height:10rem; */
  width: 200px;
  padding:0.1rem;
  color: #f2f2f2;
  margin:5px;
  border: 0.1rem;
  background-color: #ff631c;
  border-radius: .6rem;
  box-shadow: 5px 3px 2px 1px rgb(88, 86, 86);
}

.image__img {
  display: block;
  width:99%;
  flex:2;
  margin-left: .5%;
  border-radius: 0.7rem;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #141212;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.8;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
}

.title
  {
    font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
  }
  .image__description {
    font-size: .7em;
    margin-top: 0.25em;
}

.category-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 90%;
}
.categoryTop {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ff631c;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
}
.manageCategoryConatiner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 90px auto;
  flex: 8;
}
.cartContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 3;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cartSection{
  display: flex;
  flex-direction: row;
  flex: 2;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.cartSummary{
  flex:1;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}
.td{
  text-align: center;
  max-height: 30px;
  padding: 10px;
}
.tr:nth-child(even){
  background-color: #f2f2f2;
  border-radius: 15px;
}
.tr:hover {background-color: #ddd;}

.th{
  padding: 10px;
  text-align: left;
  background-color: #ff631c;
  color: white;
}
.timer-wrapper {
  display: flex;
  justify-content: center;
}
.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}
.activate-bu{
  width: 20%;
  padding: 15px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  background-color: #ff631c;
  color: white;
  border-radius: 15px;
  box-shadow: 0 6px #fa5204;
  cursor: pointer;
}
.activate-bu:hover{
  transform: scale(1.15);
  transition: all 0.6s;
}
.activate-bu:active{
  margin-top:6px;
  box-shadow: 0 0 #fa5204;
}
@media only screen and (max-width: 600px) {
  nav ul div.items a {
    display: none;
  }
  nav ul li span {
    display: none;
  }
  .category-section {
    width: 95%;
  }
  .cartSection{
    width: 100% ;
    justify-content: center;
    margin: 0 auto;
  }
  .cartContainer{
    flex-direction: column;
    width: 100%;
  }
  .manageCategoryConatiner{
    flex-direction: column;
    width: 100%;
  }
  .productSlider {
    width: 100%;
  }
  .image{
    width: 170px;
  }
  .category-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
}
}
